- name: Deploy app
  hosts: secrets
  gather_facts: false
  vars:
    app: infisical
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
    - name: Docker compose down
      community.docker.docker_compose_v2:
        project_src: "$HOME/{{ app }}"
        state: absent
    - name: Copy project
      ansible.builtin.copy:
        src: "./{{ app }}"
        dest: "$HOME"
        mode: "0744"

    - name: Replace Encryption Key secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "ENCRYPTION_KEY_VALUE"
        replace: "{{ lookup('ansible.builtin.env', 'INFISICAL_ENCRYPTION_KEY') }}"
    - name: Replace Auth secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "AUTH_SECRET_VALUE"
        replace: "{{ lookup('ansible.builtin.env', 'INFISICAL_AUTH_SECRET') }}"
    - name: Replace Mongo Password secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "MONGO_PASSWORD_VALUE"
        replace: "{{ lookup('ansible.builtin.env', 'INFISICAL_MONGO_PASSWORD') }}"
    - name: Replace SMTP Password secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "SMTP_PASSWORD_VALUE"
        replace: "{{ lookup('ansible.builtin.env', 'SMTP_PASSWORD') }}"

    - name: Docker compose up -d
      community.docker.docker_compose_v2:
        project_src: "$HOME/{{ app }}"
