- name: Deploy app
  hosts: music
  gather_facts: false
  vars:
    app: music
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
    - name: Docker compose down
      community.docker.docker_compose_v2:
        project_src: "$HOME/{{ app }}"
        state: absent
    - name: Copy project
      ansible.builtin.copy:
        src: "./{{ app }}"
        dest: "$HOME"
        mode: "0744"
    - name: Replace LastFM API key secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "LASTFM_APIKEY_VALUE"
        replace: "{{ lookup('infisical.vault.read_secrets', env_slug='prod', path='/music', secret_name='LASTFM_APIKEY')['value'] }}"
    - name: Replace LastFM secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "LASTFM_SECRET_VALUE"
        replace: "{{ lookup('infisical.vault.read_secrets', env_slug='prod', path='/music', secret_name='LASTFM_SECRET')['value'] }}"
    - name: Replace Mongo Password secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "SPOTIFY_ID_VALUE"
        replace: "{{ lookup('infisical.vault.read_secrets', env_slug='prod', path='/music', secret_name='SPOTIFY_ID')['value'] }}"
    - name: Replace SMTP Password secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/.env"
        regexp: "SPOTIFY_SECRET_VALUE"
        replace: "{{ lookup('infisical.vault.read_secrets', env_slug='prod', path='/music', secret_name='SPOTIFY_SECRET')['value'] }}"

    - name: Docker compose up
      community.docker.docker_compose_v2:
        project_src: "$HOME/{{ app }}"

    - name: Update data permissions
      ansible.builtin.file:
        path: /mnt/nvme
        state: directory
        recurse: true
        owner: debian
        group: debian
      become: true

    - name: Update media permissions
      ansible.builtin.file:
        path: /mnt/media
        state: directory
        recurse: true
        owner: debian
        group: debian
      become: true
