version: "3"

services:
  backend:
    restart: unless-stopped
    depends_on:
      - mongo
    image: infisical/infisical:latest
    env_file: .env
    ports:
      - 80:8080
    environment:
      - NODE_ENV=production

  redis:
    image: redis
    env_file: .env
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379
    volumes:
      - /mnt/nvme/redis-data:/data

  mongo:
    image: mongo
    restart: always
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    volumes:
      - /mnt/nvme/mongo-data:/data/db
