- name: Proxmox test-vm-2
  hosts: localhost
  module_defaults:
    community.general.proxmox_kvm:
      api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_TOKEN_ID') | regex_replace('!.*') }}"
      api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST' ) }}"
      api_token_id: "{{ lookup('ansible.builtin.env', 'PROXMOX_TOKEN_ID') | regex_replace('.*!') }}"
      api_token_secret: "{{ lookup('ansible.builtin.env', 'PROXMOX_TOKEN_SECRET') }}"
      name: test-vm-2
      node: pve
  tasks:
    - name: Create test-vm-2
      community.general.proxmox_kvm:
    - name: Update test-vm-2
      community.general.proxmox_kvm:
        cpu: x86-64-v3
        memory: 2048
        cores: 5
        update: true
    - name: Start test-vm-2
      community.general.proxmox_kvm:
        state: restarted
