- name: Deploy app
  hosts: samba
  gather_facts: false
  vars:
    app: samba
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
    - name: Docker compose down
      community.docker.docker_compose_v2:
        project_src: "$HOME/{{ app }}"
        state: absent
    - name: Copy project
      ansible.builtin.copy:
        src: "./{{ app }}"
        dest: "$HOME"
        mode: "0744"

    - name: Replace KVK Password secret
      ansible.builtin.replace:
        path: "$HOME/{{ app }}/config.yml"
        regexp: "KVK_PASSWORD"
        replace: "{{ lookup('infisical.vault.read_secrets', env_slug='prod', path='/samba', secret_name='KVK_PASSWORD')['value'] }}"

    - name: Docker compose up
      community.docker.docker_compose_v2:
        project_src: "$HOME/{{ app }}"

    - name: Update samba permissions
      ansible.builtin.file:
        path: /mnt/share/samba
        state: directory
        recurse: true
        owner: debian
        group: debian
      become: true
