- name: Setup Software
  hosts: joplin
  gather_facts: false
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
    - name: Test some stuff
      ansible.builtin.shell: |
        touch ~/hmm
        echo test > ~/test
        echo test2 >> ~/test
        mkdir ~/dir
        touch ~/dir/testing
    - name: Install some stuff
      ansible.builtin.apt:
        update_cache: true
        lock_timeout: 120
        name: qemu-guest-agent
      become: true
    - name: Enable some stuff
      ansible.builtin.systemd:
        name: qemu-guest-agent
        state: started
        enabled: true
      become: true
