- name: Setup Software
  hosts: joplin
  gather_facts: false
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 22
        timeout: 300
      delegate_to: localhost
    - name: Test some stuff
      ansible.builtin.shell: |
        apt update
        apt install -y qemu-guest-agent
        touch ~/hmm
        echo test > ~/test
        echo test2 >> ~/test
      retries: 10
      delay: 6
      until: result is not failed

