- name: Setup Software
  hosts: joplin
  gather_facts: false
  tasks:
    - name: Debug
      ansible.builtin.debug:
        msg: "{{ inventory_hostname }}"
    - name: Wait for connection
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 22
        timeout: 300
      delegate_to: localhost
    - name: Test some stuff
      ansible.builtin.shell: |
        touch ~/hmm
        echo test > ~/test
        echo test2 >> ~/test
      args:
        executable: /bin/bash
