- name: Cleanup old ~/nextcloud directory
  hosts: cloud
  gather_facts: false
  vars:
    app: nextcloud
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
    - name: Delete nextcloud directory
      ansible.builtin.file:
        path: "$HOME/{{ app }}"
        state: absent
